.py-2-5 {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}
.main-section,.sessions{
  height: 100%;
}

.nav-bg,
.form-container,
.sidebar {
  background-color: #2e2e2e;
  border: 1px solid #404040;
  color: #fff;
}
.sidebar {
  height: 100vh;
}
.bg-new-gray {
  background-color: #404040;
}

.layout-bg {
  background-color: #1a1a1a;
}
.sessions-head-bg {
  background-color: #2e2e2e;
}
.sessions-head-color {
  color: #bababa;
}
.sessions-body-bg {
  background-color: #353535;
}
.sessions-body-color {
  color: #bababa;
}
.all-sessions-color {
  color: #828282;
}
.sessions-border {
  border-bottom: 1px solid #434343;
}
.cancel-btn {
  border: 1px solid #404040;
}


.form-control{
  background-color: transparent !important;
  border: 1px solid #757575 !important;
  padding: 0.7rem .75rem !important;
  color: #FFF !important;
  border-radius: 0 !important;
}
::placeholder { 
  color: #535353 !important;
}
.error{
  color: #FDA29B;
}

.note{
  position: relative;
  cursor: pointer;
}
.note-content {
  position: absolute;
  top: -110%;
  left: 120%;
  margin-top: 10px;
  width: 200px;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
  visibility: hidden;
  pointer-events: none;
  clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 4% 100% , 4% 45%, 0% 50% , 4% 55%);
    background-color: #1A1A1A !important;
   
  
}
  
.note:hover .note-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
}

.upload-space{
  border: 1px dashed #757575 !important;

}
.img-container{
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  width: fit-content;
  margin: auto;
}
.img-container img{
  width: 65px;
}