.py-2-5 {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}
.main-section,
.sessions {
  height: 100%;
}

.nav-bg,
.form-container,
.sidebar {
  background-color: #2e2e2e;
  border: 1px solid #404040;
  color: #fff;
}
.sidebar {
  height: 93vh;
}
.bg-new-gray {
  background-color: #404040;
}

.layout-bg {
  background-color: #1a1a1a;
}
.sessions-head-bg {
  background-color: #2e2e2e;
}
.sessions-head-color {
  color: #bababa;
}
.sessions-body-bg {
  background-color: #353535;
}
.sessions-body-color {
  color: #bababa;
}
.all-sessions-color {
  color: #828282;
}
.sessions-border {
  border-bottom: 1px solid #434343;
}
.cancel-btn {
  border: 1px solid #404040;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid #757575 !important;
  padding: 0.7rem 0.75rem !important;
  color: #fff !important;
  border-radius: 0 !important;
}
input::placeholder,
::placeholder {
  color: #535353 !important;
}
.error {
  color: #fda29b;
}

.note {
  position: relative;
  cursor: pointer;
}
.note-content {
  position: absolute;
  top: -110%;
  left: 120%;
  margin-top: 10px;
  width: 200px;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4;
  visibility: hidden;
  pointer-events: none;
  clip-path: polygon(
    4% 0%,
    100% 0%,
    100% 100%,
    4% 100%,
    4% 45%,
    0% 50%,
    4% 55%
  );
  background-color: #1a1a1a !important;
}

.note:hover .note-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

.upload-space {
  border: 1px dashed #757575 !important;
}
.img-container {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  width: fit-content;
  margin: auto;
}
.img-container img {
  width: 65px;
}
.MuiStack-root.css-bkzwk2-MuiStack-root {
  padding-top: 0 !important;
  background-color: transparent !important;
  border: 1px solid #757575 !important;
  /* color: #FFF !important; */
  border-radius: 0 !important;
  font-size: 1rem;
  font-weight: 400;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input::placeholder {
  color: #fff !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 11.5px 14px !important;
}
.MuiStack-root.css-bkzwk2-MuiStack-root {
  height: 48.38px !important;
  overflow: hidden !important;
}

.rmsc .dropdown-container {
  background-color: transparent !important;
  border: 1px solid #757575 !important;
  color: #fff !important;
  border-radius: 0 !important;
}
.rmsc .dropdown-heading {
  height: 48.38px !important;
}
.dropdown-content .search input,
.dropdown-content .search input::placeholder,
.dropdown-content .options {
  background-color: #1a1a1a !important;
  color: #fff !important;
}
.dropdown-content label.select-item:hover span,
.dropdown-content label.select-item.selected span {
  color: #000 !important;
}

.speaker .speaker-info {
  background-color: #353535;
  border: 1px solid #535353;
}
.speaker .position {
  color: #989898;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../public/downArrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  position: relative;
  top: 7px;
}
/* placeholder text style */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #535353 !important;
}

/* regular text style */
input[type="date"].date-input--has-value::-webkit-datetime-edit-text,
input[type="date"].date-input--has-value::-webkit-datetime-edit-month-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-day-field,
input[type="date"].date-input--has-value::-webkit-datetime-edit-year-field {
  color: #ffff !important;
}
.side-bar .css-dip3t8,
.side-bar .css-1wvake5 {
  background-color: #2e2e2e;
  border: none !important;
  color: #fff;
}
.css-1t8x7v1 > .ps-menu-button:hover,
.css-1tqrhto > .ps-menu-button:hover,
.css-z5rm24,
.css-16jesut > .ps-menu-button:hover {
  background-color: transparent !important;
}
.collapse-btn {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.main-menu {
  border-bottom: 1px solid #404040;
  padding: 12px 0;
}
.css-1jp6z4y {
  background-color: #1a1a1a !important;
}
.poweredBy {
  /* margin-top: 45vh; */
  /* display: none; */
  position: absolute;
  z-index: 5;
  bottom: 20px;
  left: 20px;
  color: #989898;
  width: 80%;
}
.poweredBy > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.create-user .modal-content {
  background-color: #252525 !important;
}
.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: url(/public/person3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.profile-pic > div {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cancel-user {
  padding-top: 1px;
  padding-bottom: 1px;
}
